/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Root */
:root {
    --primary-color: #F0F0F0;
    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --border-color: #28292E;

    --title-color: #9A9A9C;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
}

body {
    background: var(--primary-bg-color);
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}
.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__logo {
    width: 3.25rem;
    height: 3.25rem;
}

#toggletheme {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

/* menu mobile  */
.menu--mobile {
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.menu__item {
    width: 100%;
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text,
.menu__link:hover .menu__icon, 
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

/* menu principal  */
.menu--principal {
    gap: 1rem;
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 6rem;
        background: var(--primary-bg-color);
    }
    .nav--mobile {
        display: none;
    }
    .header__nav {
        display: block;
    }
    .header__nav,
    .header__toggle {
        min-width: 30%;
    }
}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }
}